<div class="moviedetails">
<div class="moviedetailsimg"> <img src={{movie.image}} /> </div>  
<div>
    <a href="/movies"> Go back</a>
    <h1>{{movie.title}}</h1>
    <p>Director: {{movie.director}}</p>
    <p>Stars</p>
    <ul>
        {{#each movie.stars}}
       <li>{{this}}</li>
       {{/each}}
    </ul>
    <p>{{movie.description}}</p>
    <p>
    {{#each movie.showtimes}}
       {{this}} | 
    {{/each}}
    </p>
</div>
</div>