<div class="details">
<img src="{{movie.image}}" alt="">
<h3>{{movie.title}}</h3>
<h3>{{movie.director}}</h3>
<h3>{{movie.stars}}</h3>
<h3>{{movie.description}}</h3>
<h3>{{movie.showtimes}}</h3>
</div>